<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 페이지</title>
  <link rel="stylesheet" href="/static/styles.css">
  <script src="/static/script.js" defer></script>
</head>
<body>
<div id="sidebar-container"></div>  <!-- 사이드바 포함 -->

<div id="content">
  <h1 class="main-title">LUMOS</h1>
  <h2 class="sub-title">Lecture & User Meeting OCR System</h2>
  <p class="description">Transform lecture and meeting contents by optical recognition (OCR)</p>

  <div class="home-button-container">
    <button class="custom-button" onclick="location.href='/date'">날짜별</button>
    <button class="custom-button" onclick="location.href='/category'">카테고리별</button>
  </div>

  <div class="home-image-container">
    <img src="/static/images/camera1.png" alt="Camera Icon 1" class="home-small-img">
    <img src="/static/images/camera2.png" alt="Camera Icon 2" class="home-large-img">
    <img src="/static/images/camera3.png" alt="Camera Icon 3" class="home-small-img">
  </div>
</div>
</body>
</html>